.timeline .vertical-timeline::before {
    background: var(--light-clinic-blue);
}
.timeline {
    height: auto;
    padding: 16px;
    position: relative;
    top: 0;
    background: white;
}
.timeline h2 {
    text-align: center;
}
.vertical-timeline-element h3 {
    color: var(--primary-accent);
}
