.ServicesStrip2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--light-clinic-blue); 
    color: var(--heading-color);
    padding: 32px 16px 64px 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}
.ServicesStrip2::before {
    content :'';
    position: absolute;
    top: 4%;
    left: 0;
    width: 100%; 
    height: 100%;
    background: white;
    transform-origin: 0, 0;
    transform: skewY(5deg);
    z-index: 0;
    overflow: hidden;
    box-shadow: var(--standard-shadow);
}
.ServicesStrip2 .compass-one {
    position: absolute;
    z-index: -1;
    width: 70%;
    top: -230px;
    opacity: 0.075;
    right: -20%;
    animation: rotate 150s infinite linear;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.ServicesStrip2 .title {
    text-align: left;
    padding: 16px;
    width: 1000px;
    position: relative;
    z-index: 2;
}
.ServicesStrip2 .title hr {
    display: none;
}
.ServicesStrip2 .title h6 {
    color: var(--primary-accent);
    padding: 4px 0;
}
.ServicesStrip2 .card-container {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ServicesStrip2 .card {
    width: 308px;
    height: auto;
    border-radius: 10px;
    padding: 4px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    transition: 0.3s ease all;
}
.ServicesStrip2 .card h6 {
    width: auto;
    color: var(--heading-color);
    padding: 0 0 0 16px;
    border-left: 2px solid var(--scrubs-blue);
    transition: 0.25s ease all;
}
.ServicesStrip2 .card .icon {
    margin: 32px 0 16px 0;
}
.ServicesStrip2 .card:hover .ButtonPrimaryAlt {
    transform: translateY(8px);
    transition: 0.3s ease all;
}
.ServicesStrip2 .card:hover .icon {
    transform: translateY(-8px);
}
.ServicesStrip2 .card p {
    color: #363f55;
}
@media only screen and (max-width: 1000px) {
    .ServicesStrip2 .card-container {
        width: 100%;
    }
    .ServicesStrip2 .title {
        width: 100%;
        padding: 0 16px;
    }
}
@media only screen and (max-width: 750px) {
    .ServicesStrip2::before, .ServicesStrip2 .compass-one {
        display: none;
    }
}
@media only screen and (max-width: 700px) {
    .ServicesStrip2 .card-container .card {
        width: 100%;
        padding: 16px 0;
        margin: 0;
    }
    .ServicesStrip2 .title hr {
        display: block;
    }
}