.ServicesStrip2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #F6F7FB; 
    color: var(--heading-color);
    padding: 32px 16px 64px 16px;
    box-sizing: border-box;
}
.ServicesStrip2 .title {
    text-align: left;
    padding: 16px;
    width: 1000px;
}
.ServicesStrip2 .title h2 {
    color: var(--primary-accent);
    padding: 4px 0;
}
.ServicesStrip2 .card-container {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ServicesStrip2 .card {
    width: 308px;
    height: auto;
    border-radius: 10px;
    padding: 4px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    transition: 0.3s ease all;
}
.ServicesStrip2 .card h6 {
    width: auto;
    color: var(--heading-color);
    border-left: 2px solid var(--primary-accent);
    padding: 0px 0px 0px 16px;
    margin: 8px 0px 0px;
}
.ServicesStrip2 .card:hover .ButtonPrimaryAlt {
    transform: translateY(8px);
    transition: 0.3s ease all;
}
.ServicesStrip2 .card:hover .icon {
    transform: translateY(-8px);
}

.ServicesStrip2 .card p {
    color: #363f55;
}
.ServicesStrip2 .icon {
    margin: 32px 0 8px 0;
    transition: 0.3s ease all;
}
@media only screen and (max-width: 1000px) {
    .ServicesStrip2 .card-container {
        width: 100%;
    }
    .ServicesStrip2 .title {
        width: 100%;
        padding: 0 16px;
    }
}
@media only screen and (max-width: 665px) {
    .ServicesStrip2 .card-container .card {
        width: 300px;
    }
    .ServicesStrip2 .card-container .card img {
        height: 50px;
        width: 50px;
    }
}
@media only screen and (max-width: 400px) {
    .ServicesStrip2 .card-container .card {
        width: 100%;
        padding: 16px 0;
        margin: 0;
    }
    .ServicesStrip2 .card-container .card img {
        height: 50px;
        width: 50px;
    }
}