.PartnershipsPage .intro {
    padding: 32px 16px;
}
.PartnershipsPage .become-partner {
    padding: 64px 16px;
    background: var(--light-clinic-blue);
    color: var(--heading-color);
    position: relative;
    overflow: hidden;
    height: 500px;
}