.TCM {
    display: flex;
    justify-content: center;
    min-height: 600px;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 0;
    background: var(--light-clinic-blue);
    position: relative;
    color: var(--heading-color);
}
.TCM .right {
    position: relative;
    top: 0;
    z-index: 3;
}
.TCM .right ul {
    padding: 0 0 0 20px;
}
.TCM .right h2 {
    color: var(--primary-accent);
    width: auto;
}
.TCM .left {
    position: relative;
    top: 0;
}
.TCM .left .checkboxes {
    position: absolute;
    bottom: 60%;  
    right: 10%;
    z-index: 1;
    width: 50%;
}
.TCM .left .house {
    position: relative;
    top: 0;
    z-index: 2;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .TCM {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .TCM .right h2 {
       width: 100%;
    }
}
@media only screen and (max-width: 850px) {
    .TCM .left .house {
        width: 50%;
    }
    .TCM .left .checkboxes {
        width: 35%;
        left: 10%;
    }
}