.HARP {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 0;
    background: var(--light-clinic-blue);
    position: relative;
    color: var(--heading-color);
}
.HARP h4 {
    width: auto;
}
.HARP ul {
    padding: 0 0 0 20px;
}
.HARP .forms {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
}
.HARP .forms .form-card h6, .HARP .forms .form-card p {
    width: auto;
    transition: 0.4s ease all;
}
.HARP .forms .form-card {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 16px;
}
.HARP .forms img {
    margin-right: 16px;
    transition: 0.4s ease all;
    width: 45px;
}
.HARP .forms .form-card:hover img {
    transform: translateY(-8px);
}
.HARP .forms .form-card:hover p, .HARP .forms .form-card:hover .ButtonSecondary {
    transform: translateY(8px);
}


@media only screen and (max-width: 950px) {
    .HARP .forms {
        flex-direction: column;
    }
    .HARP .forms .form-card {
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
    }
}