.HospiceServices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--light-clinic-blue);
    padding: 16px 0 64px 0;
    box-sizing: border-box;
}
.HospiceServices .hospice-card-wrapper {
    width: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.HospiceServices .ButtonPrimaryAlt {
    margin-top: 16px;
}
.HospiceServices .bereavement {
    min-height: 400px;
}
@media only screen and (max-width: 768px) {
    .HospiceServices .hospice-card-wrapper {
        width: 100%;
    }
}