.HospiceServices {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-clinic-blue);
    padding: 16px 16px 64px 16px;
    box-sizing: border-box;
}
.HospiceServices .hospice-card-wrapper {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.HospiceServices .intro {
    padding: 32px 0 16px 0;
    background: none;
}

@media only screen and (max-width: 650px) {
    .HospiceServices .hospice-card-wrapper {
        width: 100%;
    }
}