.HospiceTeam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    box-sizing: border-box;
    padding: 32px 0;
    background: var(--light-clinic-blue);
}

.HospiceTeam .left img {
    box-shadow: var(--standard-shadow);
    border-radius: 10px;
}


@media only screen and (max-width: 1200px) {
    .HospiceTeam .left img {
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .HospiceTeam {
        flex-direction: column;
    }
    .HospiceTeam .left {
        width: 100%;
        padding: 16px;
    }
    .HospiceTeam .right {
        width: 100%;
        padding: 16px;
    }
    .HospiceTeam .left .icon, .HospiceTeam .right .icon {
        width: 45px;
    }
}
