.HospiceEligibility {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    box-sizing: border-box;
    padding: 32px 0;
    background: var(--light-clinic-blue);
}

.HospiceEligibility .left ul {
    padding-left: 20px;
}

.HospiceEligibility .right img {
    box-shadow: var(--standard-shadow);
    border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
    .HospiceEligibility .right img {
        width: 100%;
    }
}


@media only screen and (max-width: 850px) {
    .HospiceEligibility {
        flex-direction: column-reverse;
    }
    .HospiceEligibility .right {
        width: 100%;
        padding: 16px;
    }
    .HospiceEligibility .left {
        width: 100%;
        padding: 16px;
    }
    .HospiceEligibility .left .icon, .HospiceEligibility .right .icon {
        width: 45px;
    }
}
