.LevelsCard {
    width: 280px;
    height: 350px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 32px;
    margin: 8px;
    background: white;
    position: relative;
    color: var(--heading-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: var(--standard-shadow);
}
.LevelsCard:hover .number {
    transform: translatey(-8px) scale(1.1);
}
.LevelsCard .number {
    position: absolute;
    top: -25px;
    transition: 0.4s ease all;
}
.LevelsCard h4 {
    margin: 8px 0;
    text-align: center;
    width: auto;
}

@media only screen and (max-width: 1200px) {
    .LevelsCard {
        width: 320px;
    }
}