.LevelsCard {
    width: 225px;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 16px;
    margin: 8px;
    position: relative;
    color: var(--heading-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.LevelsCard:hover .number {
    transform: translatey(-8px) scale(1.1);
}
.LevelsCard .number {
    position: relative;
    left: 10px;
    transition: 0.4s ease all;
}
.LevelsCard h4 {
    margin: 8px 0;
    text-align: left;
    width: auto;
}

@media only screen and (max-width: 1200px) {
    .LevelsCard {
        width: 320px;
    }
}
@media only screen and (max-width: 550px) {
    .LevelsCard {
        padding: 16px 0;
        margin:0;
        width: 100%;
    }
}