.blog-page {
    background: var(--light-clinic-blue);
}
.blog-post-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 64px;
    max-width: 1440px;
    height: auto;
    margin: auto; 
    background: var(--light-clinic-blue);
}
.blog-post-container .blog-post {
    box-sizing: border-box;
    width: 75%;
    padding: 0 32px 32px 32px;
    color: var(--heading-color);
}
.blog-post-container .blog-post img {
    width: 95%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
.blog-post-container .blog-post .post-info h2 {
    padding: 16px 0 4px 0;
    color: var(--primary-accent);
}
.blog-post-container .blog-post .post-info p {
    padding: 4px 0 16px 0;
}
.blog-post-container .blog-post h2,
.blog-post-container .blog-post h3,
.blog-post-container .blog-post h4,
.blog-post-container .blog-post h5,
.blog-post-container .blog-post h6 {
    color: var(--heading-color);
    padding: 32px 0 4px 0;
}
.blog-post-container .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    padding: 32px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    position: sticky;
    top: 190px;
}
.blog-post-container .sidebar h5 {
    width: auto;
    color: var(--primary-accent);
}
.blog-post-container .sidebar img {
    width: 25px;
    height: auto;
    margin: 8px 0 0 0;
}
.blog-post-container .sidebar a {
    width: auto;
    color: var(--heading-color);
    transition: 0.25 ease all;
    font-weight: normal;
}
.blog-post-container .sidebar a:hover {
    color: var(--primary-accent);
}
.blog-post-content {
    padding: 0 0 32px 0;
}
.blog-post-container .sidebar .recent, .blog-post-container .sidebar .related  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 8px 0;
}
.blog-post-container .sidebar .share {
    width: 100%;
}
.blog-post-container .sidebar .share ul {
    list-style: none;
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.blog-post-container .ButtonPrimary  {
    justify-content: flex-start;
    margin: 16px 0 32px 0;
    width: 195px;
}
.blog-post-container .blog-post .tag {
    margin: 0 0 0 0;
    color: white;
    background: linear-gradient(270deg, #0FBDBD -7.32%, #363F55 100%);
    border-radius: 5px;
    padding: 4px 8px;
    margin: 4px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    transition: 0.4s ease all;
}
.blog-post-container .blog-post .category {
    margin: 0 0 0 0;
    color: white;
    background: linear-gradient(66.41deg, #FFCE94 3.73%, #F05F7E 100%);
    border-radius: 5px;
    padding: 4px 8px;
    margin: 4px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    transition: 0.4s ease all;
}
.blog-post-container .blog-post .category-wrapper, .blog-post-container .blog-post .tag-wrapper {
    width: auto;
    min-height: 40px;
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
}


@media only screen and (max-width: 1200px) {
    .blog-post-container .sidebar {
        width: 250px;
    }
}
@media only screen and (max-width: 1100px) {
    .blog-post-container .sidebar {
        width: 200px;
    }
}
@media only screen and (max-width: 1000px) {
    .blog-post-container {
        flex-direction: column;
    }
    .blog-post-container .sidebar {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 32px 0 0 0;
        width: 100%;
    }
    .blog-post-container .sidebar .recent,
    .blog-post-container .sidebar .related,
    .blog-post-container .sidebar .share {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: flex-start;
        margin: 4px;
    }
    .blog-post-container .sidebar a {
        text-align: left;
    }
    .blog-post-container .blog-post {
        width: 100%;
    }
    .blog-post-container .blog-post img {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .blog-post-container {
        padding: 16px 16px 16px 16px;
    }
    .blog-post-container .sidebar {
        flex-direction: column;
    }
    .blog-post-container .blog-post {
        padding: 0 0 0 0;
    }
    .blog-post-container .blog-post .blog-post-content {
        padding: 8px 0 8px 0;
        overflow: hidden;
    }
}
