.DataStrip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 98px 32px 32px 32px;
    height: auto;
    background: var(--light-clinic-blue);
    color: var(--heading-color);
    box-sizing: border-box;
    width: 100%;
}
.DataStrip h2 {
    color: var(--primary-accent);
}

@media only screen and (max-width: 1200px) {
    .DataStrip {
        padding: 64px 0;
    }
}
@media only screen and (max-width: 1000px) {
    .DataStrip {
        flex-direction: column;
    }
}
@media only screen and (max-width: 850px) {
    .DataStrip img {
        width: 55px;
    }
}
