.DemographicCharts {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.DemographicCharts .gender-chart {
    width: 450px;
    height: 400px;
}
.DemographicCharts .ethnicity-chart {
    width: 450px;
    height: 400px;
}

@media only screen and (max-width: 1000px) {
    .DemographicCharts {
        width: 100%;
    }
    .DemographicCharts .gender-chart {
        margin: 0 0 32px 0;
    }
    .DemographicCharts .ethnicity-chart {
        margin: 32px 0 0 0;
    }
}
@media only screen and (max-width: 490px) {
    .DemographicCharts .gender-chart,
    .DemographicCharts .ethnicity-chart {
        width: 100%;
    }
}