.BereavementPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light-clinic-blue);
}
.BereavementPage .services {
    background: var(--light-clinic-blue);
    position: relative;
    overflow: visible;
    top: 0;
    display: flex;
    height: 125px;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 0;
    align-items: center;
}
.BereavementPage .intro {
    background: var(--light-clinic-blue);
    padding: 32px 0;
}
.BereavementPage .resources .two-column .title {
    position: relative;
    top: 0;
    z-index: 5;
}
.BereavementPage .resources .two-column .title h4 {
    color: white;
}
.BereavementPage .services ul {
    padding-left: 20px;
}
.BereavementPage .services .flowers-left {
    position: absolute;
    bottom: -10px;
    left: 25%;
    width: 260px;
}
.BereavementPage .services .flowers-right {
    position: absolute;
    bottom: -10px;
    right: 25%;
    width: 260px;
}
.BereavementPage .resources {
    background: linear-gradient(180deg, #F6F7FB 33.85%, #363F55 33.86%, #363F55 100%);
    position: relative;
    min-height: 600px;
    z-index: 0;
    overflow: visible;
}
.BereavementPage .resources p,.BereavementPage .resources h6,.BereavementPage .resources img {
    position: relative;
    top: 0;
    z-index: 1;
    color: white;
}
.BereavementPage .resources img {
    width: 45px;
}
.BereavementPage .resources .ButtonPrimaryAlt {
    position: relative;
    top: 0;
    z-index: 1;
    color: default;
    margin-top: 16px;
}
.BereavementPage .resources .bereavement-svg {
    width: 100vw;
    height: auto;
    position: absolute;
    top: -8%;
    z-index: 0;
}

@media only screen and (max-width: 915px) {
    .BereavementPage .services .flowers-left {
        left: 15%;
        top: -15%;
    }
    .BereavementPage .services .flowers-right {
        right: 15%;
        top: -30%;
    }
    .BereavementPage .resources .bereavement-svg {
        top: -5%;
        left: 0;
    }
}
@media only screen and (max-width: 885px) {
    .BereavementPage .resources .bereavement-svg {
        width: 110%;
        left: -5%;
    }
}
@media only screen and (max-width: 835px) {
    .BereavementPage .resources .bereavement-svg {
        width: 120%;
    }
}
@media only screen and (max-width: 790px) {
    .BereavementPage .resources .bereavement-svg {
        width: 120%;
        left: -8%;
        top: -3%;
    }
}
@media only screen and (max-width: 730px) {
    .BereavementPage .resources .bereavement-svg {
        width: 130%;
        left: -10%;
    }
    .BereavementPage .resources {
        background: linear-gradient(180deg, #F6F7FB 18.23%, #363F55 18.24%, #363F55 100%);
    }
}
@media only screen and (max-width: 485px) {
    .BereavementPage .resources .bereavement-svg {
        width: 140%;
        left: -15%;
    }
    .BereavementPage .services .flowers-left {
        left: 5%;
        top: -20%;
    }
    .BereavementPage .services .flowers-right {
        right: 5%;
        top: -40%;
    }
}
@media only screen and (max-width: 450px) {
    .BereavementPage .resources {
        background: linear-gradient(180deg, #F6F7FB 8.85%, #363F55 8.86%, #363F55 100%);
    }
}
@media only screen and (max-width: 340px) {
    .BereavementPage .resources .bereavement-svg {
        width: 180%;
        left: -40%;
    }
}