.HomeHealth .intro {
    background: var(--light-clinic-blue);
}
.HomeHealth .intro h5 {
    max-width: 650px;
}
.HomeHealth .intro ul {
    width: 650px;
    padding: 0 0 0 40px;
}

@media only screen and (max-width: 650px) {
    .HomeHealth .intro ul {
        width: 100%;
        padding: 0 0 0 20px;
    }
}