.HospicePage {
    background: var(--light-clinic-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--heading-color);
    overflow-x: hidden;
}

