.Hospice {
    color: var(--heading-color);
}
.Hospice .intro {
    padding: 32px;
    background: var(--light-clinic-blue);
}
.Hospice .intro h4 {
    width: auto;
}
.Hospice .intro h5 {
    max-width: 650px;
}

@media only screen and (max-width: 768px) {
    .Hospice .intro {
        padding: 32px 16px;
    }
}