.PalliativeCare .intro {
    background: var(--light-clinic-blue);
}
.PalliativeCare .intro .list-wrapper {
    display: flex;
    justify-content: center;
    width: 650px;
    box-sizing: border-box;
}
.PalliativeCare .intro .list-wrapper ul {
    width: 300px;

}

@media only screen and (max-width: 786px) {
    .PalliativeCare .intro .list-wrapper {
        width: 100%;
    }
}