.Hero {
    height: 90vh;
    width: 100%;
    position: relative;
    top: 0;
    background: white;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}
.Hero .homeIcon {
    width: 60px;
    height: 60px;
}
.white-block {
    background: white;
    height: 100%;
    width: 8%;
    position: absolute;
    left: 0;
    z-index: 1;
}
.Hero .hero-wave-one {
    width: auto;
    height: 100vh;
    position: absolute;
    top: -5%;
    left: 8%;
    z-index: 2;
}
.Hero .hero-wave-two {
    width: 75%;
    height: auto;
    position: absolute;
    top: -5%;
    right: 0;
    z-index: 1;
}
.Hero img {
    width: 1500px;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
}
.side-content {
    position: relative;
    z-index: 5;
    width: 1440px;
    padding: 32px;
    margin: 64px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.side-content h3 {
    width: 350px;
}

@media only screen and (max-width: 1440px) {
    .white-block {
        width: 0%;
    }
    .Hero .hero-wave-one {
        left: -2%;
    }
    .Hero .hero-wave-two {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .Hero {
        height: 100vh;
        overflow-y: hidden;
    }
    .white-block {
        width: 0;
    }
    .Hero .hero-wave-one {
        left: -20%;
    }
    .Hero .hero-wave-two {
        display: none;
    }
    .Hero img {
        height: auto;
    }
    .Hero h1, .Hero h3 {
        width: 60%;
    }
}
@media only screen and (max-width: 500px) {
    .Hero h1, .Hero h3 {
        width: 70%;
    }
}
@media only screen and (max-width: 450px) {
    .Hero h1, .Hero h3 {
        width: 75%;
    }
}