.Hero7 {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    z-index: 1;
    background: var(--hero-gradient-colorful);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}
.Hero7 .hero-wrapper {
    height: 85vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1440px;
    position: relative;
    box-sizing: border-box;
    padding: 98px 0 0 0;
}
.Hero7 img {
    position: fixed;
    z-index: -2;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: auto;
    opacity: 0.15; 
    left: 0;
}
.Hero7 .animation {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
}
.Hero7 .animation .icon {
    position: relative;
}
.Hero7 .animation .icon:nth-of-type(1) {
    animation: fade-up 4s infinite linear;
    width: 15px;
}
.Hero7 .animation .icon:nth-of-type(2) {
    animation: fade-up 3s infinite linear;
    width: 30px;
}
.Hero7 .animation .icon:nth-of-type(3) {
    animation: fade-up 6s infinite linear;
    width: 20px;
}
.Hero7 .animation .icon:nth-of-type(4) {
    animation: fade-up 5s infinite linear;
    width: 15px;
}
.Hero7 .animation .icon:nth-of-type(5) {
    animation: fade-up 3.7s infinite linear;
    width: 30px;
}
.Hero7 .animation .icon:nth-of-type(6) {
    animation: fade-up 4.5s infinite linear;
    width: 20px;
}
.Hero7 .animation .icon:nth-of-type(7) {
    animation: fade-up 5s infinite linear;
    width: 15px;
}
.Hero7 .animation .icon:nth-of-type(8) {
    animation: fade-up 3.7s infinite linear;
    width: 15px;
}
.Hero7 .animation .icon:nth-of-type(9) {
    animation: fade-up 2.5s infinite linear;
    width: 20px;
}
.Hero7 .animation .icon:nth-of-type(10) {
    animation: fade-up 7s infinite linear;
    width: 25px;
}


@keyframes fade-up {
    0% {
        opacity: 0;
        bottom: 0px;
    }
    33% {
        opacity: 0.35;
        bottom: 100px;
    }
    100% {
        opacity: 0;
        bottom: 600px;
    }
}


/* --- ASSETS --- */
.Hero7 .hero-wrapper .hero-assets {
    position: relative;
    display: flex;
    justify-content: center;
}
.Hero7 .hero-wave {
    position: absolute;
    bottom: -20px;
    left: -30px;
    width: 105%;
    z-index: 0;
}


/* --- CONTENT --- */
.Hero7 .hero-content {
    box-sizing: border-box;
    width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    position: relative;
    z-index: 3;
    padding: 32px 16px;
}
.Hero7 .hero-content h1 {
    color: white;
    font-size: 2.5rem;
    padding: 64px 0 8px 0;
}
.Hero7 .hero-content h2 {
    background: var(--super-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    padding: 0;
}
.Hero7 .hero-content h6 {
    color: white;
    padding: 8px 0 8px 16px;
    margin: 8px 0;
}
.Hero7 .play-btn-wrapper {
    display: flex;
}
.Hero7 .play-btn-wrapper a {
    margin-right: 16px;
}
.Hero7 .play-btn-wrapper:focus {
    outline: none;
}

/* -- GRAPHIC --*/
.Hero7 .hero-wrapper .hero-assets .hero-graphic {
    position: absolute;
    opacity: 0.4;
    transition: 0.5s ease all;
    padding: 0 16px 0 0;
    height: auto;
    width: 900px;
    right: -300px;
    top: 100px;
}
.Hero7 .hero-wrapper .hero-assets .active-graphic {
    opacity: 0;
    transform: translateY(250px);
}

/* --- VIDEO --- */
.Hero7 .active {
    opacity: 1;
    top: 80px;
    z-index: 5;
}
.Hero7 iframe {
    width: 600px;
    height: 340px;
    transition: 0.5s ease all;
    border-radius: 10px;
    position: absolute;
    right: 15px;
    top: -50px;
    z-index: -1;
    opacity: 0;
    box-shadow: var(--standard-shadow);
    background: var(--heading-color);
}



/* --- QUERIES --- */
@media only screen and (max-width: 1440px) {
    .Hero7 .hero-wrapper {
        width: 100%;
    }
}
@media only screen and (max-width: 1275px) {
    .Hero7 iframe {
        top: -80px;
        width: 500px;
        height: 290px;
    }
    .Hero7 .active {
        opacity: 1;
        top: 100px;
        z-index: 5;
    }
}
@media only screen and (max-width: 1200px) {
    .Hero7 .hero-wrapper {
        height: 100vh;
    }
    .Hero7 .hero-wrapper {
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        padding: 32px 0;
    }
    .Hero7 .hero-wrapper .hero-assets .hero-graphic {
        position: relative;
        left: 0;
        top: 0;
        width: 400px;
        height: auto;
        padding: 0;
        opacity: 1;
    }
    .Hero7 .hero-wrapper .hero-content {
        width: 650px;
        padding: 0 16px 16px 16px;
    }
    .Hero7 .hero-wrapper .hero-content img {
        display: none;
    }
    .Hero7 .hero-content h1 {
        color: white;
        padding: 16px 0 8px 0;
    }
    .Hero7 .hero-wrapper .hero-assets .active-graphic {
        opacity: 0;
        transform: translateY(150px);
    }
    .Hero7 .animation {
        width: 100%;
    }
    /* -- VIDEO -- */
    .Hero7 .active {
        opacity: 1;
        top: 40px;
        z-index: 5;
    }
    .Hero7 iframe {
        right: -85px;
        width: 570px;
        height: 320px;
        top: -80px;
    }
}
@media only screen and (max-width: 800px) {
    .Hero7 .hero-wrapper {
        padding: 16px 0;
    }
    .Hero7 .hero-wave {
        width: 110%;
        height: auto;
    }
    @keyframes fade-up {
        0% {
            opacity: 0.75;
            bottom: -50px;
        }
        100% {
            opacity: 0;
            bottom: 300px;
        }
    }
}
@media only screen and (max-width: 650px) {
    .Hero7 .hero-wrapper {
        height: 100vh;
        padding: 32px 0;
    }
    .Hero7 .hero-wrapper .hero-assets {
        width: 100%;
        box-sizing: border-box;
        padding: 0 16px;
    }
    .Hero7 .hero-wrapper .hero-content {
        width: 100%;
        padding: 0 16px;
    }
    .Hero7 .hero-content h1 {
        font-size: 3rem;
    }
    .Hero7 img {
        display: none;
    }
    /* -- VIDEO -- */
    .Hero7 .active {
        opacity: 1;
        top: 0px;
        z-index: 5;
    }
    .Hero7 iframe {
        box-sizing: border-box;
        width: 94%;
        height: 350px;
        right: 16px;
    }
}
@media only screen and (max-width: 520px) {
    .Hero7 iframe {
        width: 93%;
    }
}
@media only screen and (max-width: 450px) {
    .Hero7 {
        height: 100vh;
    }
    .Hero7 .hero-wrapper  {
        padding: 32px 0 0 0;
    }
    .Hero7 .hero-wave {
        bottom: -5px;
    }
    .Hero7 .hero-content h2 {
        font-size: 2rem;
        text-align: center;
    }
    .Hero7 .hero-content h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    .Hero7 .hero-content {
        align-items: center;
    }
    .Hero7 .hero-content h6 {
        display: none;
    }
    .Hero7 .play-btn-wrapper {
        flex-direction: column;
    }
    /* -- VIDEO -- */
    .Hero7 iframe {
        width: 92%;
        height: 250px;
    }
    .Hero7 .hero-wrapper .hero-assets .hero-graphic {
        width: 300px;
        height: 278px;
        margin: 0;
    }
}

@media only screen and (max-width: 400px) {
    .Hero7 .hero-wave {
        bottom: -3px;
    }
    .Hero7 .hero-wrapper .hero-assets .hero-graphic {
        width: 80%;
        height: 100%;
    }
    /* -- VIDEO -- */
    .Hero7 .active {
        opacity: 1;
        top: 30px;
        z-index: 5;
    }
    .Hero7 iframe {
        width: 91%;
        height: 200px;
    }
    .Hero7 .hero-content h1 {
        font-size: 2.25rem;
    }
    .Hero7 .hero-content h2 {
        font-size: 1.25rem;
        color: white;
        background: none;
        -webkit-background-clip: none;
        -webkit-text-fill-color: white;
    }
}
@media only screen and (max-width: 340px) {
    .Hero7 .hero-wrapper {
        padding: 16px 0;
    }
    /* -- VIDEO -- */
    .Hero7 .active {
        opacity: 1;
        top: 15px;
        z-index: 5;
    }
    .Hero7 iframe {
        width: 90%;
        height: 200px;
    }
}
@media only screen and (max-width: 325px) {
    .Hero7 .hero-wrapper .hero-assets .hero-graphic {
        width: 225px;
        height: auto;
    }
    /* -- VIDEO -- */
    .Hero7 .active {
        opacity: 1;
        top: 30px;
        z-index: 5;
    }
    .Hero7 iframe {
        box-sizing: border-box;
        height: 150px;
        right: 16px;
    }
    .Hero7 .hero-wave {
        width: 120%;
    }
    .Hero7 .hero-content h1 {
        font-size: 2rem;
    }
}