.OurTeamStrip {
    min-height: 600px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    background: var(--light-clinic-blue);
    padding: 64px 16px 16px 16px;
    z-index: 1;
    box-sizing: border-box;
}
.OurTeamStrip h2 {
    text-align: center;
    color: #363f55;
}
.OurTeamStrip .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    position: relative;
    top: 0;
    z-index: 2;
    background: white;
    box-shadow: var(--standard-shadow);
    border-radius: 10px;
    max-width: 1400px;
    height: 80%;
}
.OurTeamStrip .card-container .card {
    width: 45%;
    height: 200px;
    display: flex;
    align-items: center;
    color: #363f55;
    padding: 16px 8px;
    position: relative;
    overflow: hidden;
}
.OurTeamStrip .card-container .card p {
    color: #F05F7E;
    padding: 0;
}
.OurTeamStrip .card-container .card h4{
    padding: 0;
}
.OurTeamStrip .card-container .card .card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.OurTeamStrip .card-container .card img {
    margin: 8px 32px 8px 8px;
    overflow: hidden;
    transition: 0.25s ease all;
    position: relative;
}
.OurTeamStrip .card-container .card img::after {
    content: 'Read more';
    position: relative;
    bottom: 0;
    left: 14%;
    z-index: 5;
    color: black;
    transition: 0.4s ease all;
}
.OurTeamStrip .card-container .card img:hover {
    cursor: pointer;
    filter: blur(2px);
    transform: scale(1.02);
}
.OurTeamStrip .card-container .card img:hover::after {
    top: 49%;
}
.OurTeamStrip .ButtonPrimaryAlt {
    position: relative;
    bottom: 0;
    z-index: 3;
    margin: 32px 0 32px 0;
}
.team-wave-one {
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: -5px;
    z-index: 1;
}
.team-wave-mobile-one {
    display: none;
}
.team-wave-mobile-two {
    display: none;
}
@media only screen and (max-width: 1100px) {
    .OurTeamStrip .card-container .card img {
        margin: 0 16px 0 0;
    }
    /* .OurTeamStrip .card-container .card .card-info {
        width: 30%;
    } */
}
@media only screen and (max-width: 900px) {
    .OurTeamStrip {
        height: auto;
    }
    .OurTeamStrip .card-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 32px;
        max-width: 100%;
        width: 84%;
        box-sizing: border-box;
    }
    .OurTeamStrip .card-container .card {
        width: 100%;
    }
    .OurTeamStrip .card-container .card img {
        margin: 0 32px 0 0;
    }
    .OurTeamStrip .card-container .card .card-info {
        width: 40%;
    }
    .team-wave-mobile-one {
        display: block;
        position: absolute;
        bottom: -40px;
        width: 100%;
        height: auto;
    }
    .team-wave-one {
        display: none;
    }
}
@media only screen and (max-width: 665px) {
    .team-wave-mobile-one {
        bottom: -50px;
    }
}
@media only screen and (max-width: 600px) {
    .OurTeamStrip .card-container {
        width: 100%;
    }
    .OurTeamStrip h2 {
        text-align: left;
    }
}
@media only screen and (max-width: 500px) {
    .OurTeamStrip {
        height: auto;
        padding: 16px;
    }
    .OurTeamStrip .card-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    .OurTeamStrip .card-container .card {
        width: 90%;
        height: 150px;
    }
    .OurTeamStrip .card-container .card img {
        width: 100px;
    }
    .OurTeamStrip .card-container .card .card-info {
        width: 100%;
    }
    .OurTeamStrip .card-container .card .card-info h4 {
        width: 100%;
    }
    .OurTeamStrip .card-container .card .card-info p {
        width: 100%;
    }
    .team-wave-mobile-one {
        display: none;
    }
    .team-wave-one {
        display: none;
    }
    .team-wave-mobile-two {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 400px) {
    .OurTeamStrip .card-container .card .card-info p, .OurTeamStrip .card-container .card .card-info h4 {
        padding: 4px 0 4px 0;
    }
}