.TeamCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 32px 8px 98px 8px;
    width: 400px;
    min-height: 300px;
    position: relative;
    top: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    transition: 0.4s ease all;
    color: var(--heading-color);
}
.TeamCard img {
    width: 150px;
    height: 150px;
    position: relative;
    top: -65px;
    transition: 0.4s ease all;
}
.TeamCard .enlarge-image {
    transform: scale(1.35);
    top: -90px;
}
.TeamCard .card-header {
    position: relative;
    top: -60px;
    padding: 8px;
}
.TeamCard .card-header h3 {
    text-align: center;
    padding: 8px 0;
}
.TeamCard .card-header .introduction-text  {
    text-align: center;
    padding: 0 0 0 0;
    background: -webkit-linear-gradient(270deg, #0FBDBD -7.32%, #363F55 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}





.TeamCard .card-content {
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 64px 16px 64px;
}
.TeamCard .quote {
    box-sizing: border-box;
    width: 100%;
    color: var(--heading-color);
    text-align: center;
}
.TeamCard .biography {
    position: relative;
    box-sizing: border-box;
    top: 15px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 0.4s ease all;
    color: var(--light-clinic-blue);
}
.TeamCard .expanded-bio {
    color: var(--heading-color);
}
.TeamCard .social {
    width: 100%;
    position: absolute;
    top: 170px;
}
.TeamCard .SocialButton {
    position: absolute;
    top: 0;
    left: 35%;
}
.TeamCard .disabled-link {
    filter: grayscale(100%) contrast(10%) opacity(50%);
    cursor: not-allowed;
}



.TeamCard .card-expander {
    width: 100%;
    height: 50px;
    background: var(--heading-color);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    padding: 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.25s ease all;
}
.TeamCard .card-expander:hover {
    cursor: pointer;
    background: var(--clinic-blue);
}
.TeamCard .card-expander:focus {
    outline: none;
}
.TeamCard .card-expander p {
    width: auto;
}
.TeamCard .hide-bio {
    background: var(--clinic-blue);
}
.TeamCard .hide-bio:hover {
    cursor: pointer;
    background: var(--clinic-blue);
}



@media only screen and (max-width: 450px) {
    .TeamCard {
        width: 90%;
    }
}