.TeamCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 32px 8px 98px 8px;
    width: 450px;
    min-height: 415px;
    position: relative;
    top: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    transition: 0.4s ease all;
    color: var(--heading-color);
}
.TeamCard img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -65px;
    transition: 0.4s ease all;
}
.TeamCard .enlarge-image {
    transform: scale(1.35);
    top: -90px;
}
.TeamCard .card-body {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 86px 0 0 0;
    padding: 16px;
}


.TeamCard .header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.TeamCard .header h4 {
    text-align: center;
    padding: 8px 0;
}
.TeamCard .header .introduction-text  {
    text-align: center;
    padding: 0 0 0 0;
    background: -webkit-linear-gradient(270deg, #0FBDBD -7.32%, #363F55 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}



.TeamCard .content {
    margin: 8px 0 0 0;
}
.TeamCard .quote {
    box-sizing: border-box;
    width: 100%;
    color: var(--heading-color);
    text-align: center;
    margin: 16px 0 16px 0;
    font-weight: bold;
    font-size: 1rem;
}
.TeamCard .biography {
    box-sizing: border-box;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 0.4s ease all;
    color: var(--light-clinic-blue);
    padding: 32px 0 0 0;
    font-size: 1rem;
}

.TeamCard hr {
    border: solid 1px var(--heading-color);
    border-radius: 30px;
    margin: 0 0 16px 0;
    width: 0;
    transition: 0.4s ease all;
}
.TeamCard .stretch-hr {
    width: 100%;
}

.TeamCard .expanded-bio {
    color: var(--heading-color);
}
.TeamCard .disabled-link {
    filter: grayscale(100%) contrast(10%) opacity(50%);
    cursor: not-allowed;
}



.TeamCard .expander {
    width: 100%;
    height: 50px;
    background: var(--heading-color);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    padding: 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.25s ease all;
}
.TeamCard .expander:hover {
    cursor: pointer;
    background: var(--scrubs-blue);
}
.TeamCard .expander:focus {
    outline: none;
}
.TeamCard .expander p {
    width: auto;
    font-size: 1rem;
}
.TeamCard .hide-bio {
    background: var(--scrubs-blue);
}
.TeamCard .hide-bio:hover {
    cursor: pointer;
    background: var(--scrubs-blue);
}



@media only screen and (max-width: 450px) {
    .TeamCard {
        width: 100%;
        margin: 32px 0 64px 0;
    }
}