.ButtonSecondary {
    outline: none;
    background: #FFFFFF; 
    border: 2px solid var(--maximum-blue);
    color: var(--maximum-blue);
    box-shadow: var(--button-shadow);
    border-radius: 10px;
    min-width: 150px;
    width: auto;
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
    margin: 8px 0 8px 0;
    height: 50px;
    transition: 0.4s ease all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}
.ButtonSecondary:hover {
    border: 2px solid var(--heading-color);
    color: var(--heading-color);
    box-shadow: none;
    transform: translateY(1px);
    transition: 0.3s ease all;
    cursor: pointer;
}
.ButtonSecondary img {
    width: 30px;
    height: auto;
    margin: 0 0 0 0;
}