.ButtonPrimaryAlt {
    outline: none;
    color: var(--primary-accent);
    box-shadow: var(--button-shadow);
    background: white;
    /* Brink Pink */    
    border-radius: 30px;
    min-width: 150px;
    width: auto;
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
    margin: 8px 0 8px 0;
    height: 45px;
    transition: 0.4s ease all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.ButtonPrimaryAlt::before {
    content: '';
    width: 110%;
    height: 100%;
    background: var(--light-clinic-blue);
    position: absolute;
    top: 0;
    left: -110%;
    z-index: -2;
    transition: 0.3s ease all;
    cursor: pointer;
}
.ButtonPrimaryAlt:hover::before {
    left: -5%;
}
.ButtonPrimaryAlt:hover {
    box-shadow: none;
    transform: translateY(2px);
    transition: 0.3s ease all;
    cursor: pointer;
}
.ButtonPrimaryAlt img {
    width: 30px;
    height: auto;
    margin: 0 4px 0 0;
}