.ButtonPrimary {
    outline: none;
    border: none;
    color: white;
    /* Rose */
    background: var(--primary-accent);
    box-shadow: var(--button-shadow);
    border-radius: 30px;
    min-width: 150px;
    width: auto;
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
    margin: 8px 0 8px 0;
    height: 45px;
    transition: 0.25s ease all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.ButtonPrimary:hover {
    box-shadow: none;
    transform: translateY(2px);
    transition: 0.3s ease all;
    cursor: pointer;
    color: white;
}
.ButtonPrimary::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--super-gradient);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: 0.4s ease all;
    opacity: 0;
    cursor: pointer;
}
.ButtonPrimary:hover::before {
    opacity: 1;
}
.ButtonPrimary img {
    width: 30px;
    height: auto;
    margin: 0 4px 0 0;
}