.ButtonPrimaryAlt {
    outline: none;
    color: var(--primary-accent);
    background: #FFFFFF;
    /* Brink Pink */    
    border: 2px solid #F05F7E;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    min-width: 150px;
    width: auto;
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
    margin: 8px 0 8px 0;
    height: 50px;
    transition: 0.4s ease all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}
.ButtonPrimaryAlt:hover {
    border: 2px solid #F493AA;
    color: #F493AA;
    box-shadow: none;
    transform: translateY(1px);
    transition: 0.3s ease all;
    cursor: pointer;
}
.ButtonPrimaryAlt img {
    width: 30px;
    height: auto;
    margin: 0 0 0 0;
}