.HeaderStrip2 {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    overflow: hidden;
    box-shadow: inset var(--nav-shadow);
    background: var(--hero-gradient-colorful);
}
.HeaderStrip2 .logo {
    display: none;
}
.HeaderStrip2 .header-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.HeaderStrip2 .header-wave {
    position: absolute;
    bottom: -20px;
    width: 100%;
    z-index: 2;
}
.HeaderStrip2 .header-content {
    width: 1440px;
    padding: 64px 16px 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    overflow-Y: hidden;
}
.HeaderStrip2 .header-content h1 {
    z-index: 3;
    color: white;
    padding: 16px 0 0 0;
    width: auto;
}
.HeaderStrip2 .header-content h5 {
    z-index: 3;
    color: white;
    padding: 0 0 16px 0;
    width: auto;
}

@media only screen and (max-width: 1700px) {
    .HeaderStrip2 .header-image {
        width: 1700px;
        right: 0;
    }
}
@media only screen and (max-width: 1440px) {
    .HeaderStrip2 .header-content {
        width: 100%;
    }
}
@media only screen and (max-width: 1200px) {
    .HeaderStrip2 .header-wave {
        bottom: -10px;
    }
    .HeaderStrip2 .header-content {
        padding: 126px 16px 0 16px;
    }
}
@media only screen and (max-width: 800px) {
    .HeaderStrip2 .header-image {
        right: -60%;
    }
    .HeaderStrip2 .header-content h1 {
        font-size: 3.5rem;
    }
    .HeaderStrip2 .header-content h2 {
        font-size: 28px;
    }
}
@media only screen and (max-width: 500px) {
    .HeaderStrip2 img {
        display: none;
    }
    .HeaderStrip2 .header-wave {
        bottom: -5px;
    }
    .HeaderStrip2 .logo {
        display: block;
        position: absolute;
        bottom: -40%;
        animation: rotate 90s infinite linear;
        width: 110%;
        opacity: 0.4;
    }   
}


@keyframes rotate {
    0% { transform: rotate(-180deg); }
    100% { transform: rotate(180deg); }
}

@media only screen and (max-width: 340px) {
    .HeaderStrip2 .header-content h1 {
        font-size: 3rem;
    }
}