.ServicesHeader {
    width: 100%;
    height: 450px;
    display: flex;
    position: relative;
    top: 0;
}
.ServicesHeader .wave {
    position: absolute;
    left: -15px;
    top: -25px;
    z-index: 2;
}
.ServicesHeader .feather {
    position: absolute;
    height: 450px;
    left: 255px;
    z-index: 1;
}
.ServicesHeader .image {
    width: 87%;
    height: 450px;
    position: absolute;
    top: 0;
    right: 0;
}
.ServicesHeader h1 {
    font-size: 72px;
    position: absolute;
    left: 10%;
    top: 30%;
    z-index: 3;
    color: white;
}
.ServicesHeader h2 {
    position: absolute;
    left: 10%;
    bottom: 35%;
    z-index: 3;
    color: white;
}
@media only screen and (max-width: 1675px) {
    .ServicesHeader .image {
        width: 1500px;
    }
}
@media only screen and (max-width: 1500px) {
    .ServicesHeader .image {
        left: 100px;
    }
}
@media only screen and (max-width: 600px) {
    .ServicesHeader .wave g path {
        height: 450px;
    }
    .ServicesHeader .feather {
        top: 0;
    }
    .ServicesHeader .image {
        left: 100px;
    }
}