.CareCard {
    width: 280px;
    height: 275px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 32px;
    margin: 8px;
    position: relative;
    top: 0;
    z-index: 2;
    color: var(--heading-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.CareCard p {
    transition: 0.4s ease all;
}
.CareCard:hover .letter {
    transform: translatey(-8px);
}
.CareCard:hover p {
    transform: translatey(8px);
}
.CareCard .letter {
    position: absolute;
    top: -25px;
    transition: 0.4s ease all;
}
.CareCard h4 {
    margin: 8px 0;
    text-align: center;
    width: auto;
}


@media only screen and (max-width: 1200px) {
    .CareCard {
        width: 320px;
    }
}