.AboutStrip {
    height: auto;
    position: relative;
    top: -75px;
    z-index: 4;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px 32px 0 32px;
}
.AboutStrip h2 {
    color: #363f55;
}
.AboutStrip p {
    color: #363f55;
}