.AboutStrip {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
    background: var(--light-clinic-blue);
}
.AboutStrip h2 {
    color: var(--primary-accent);
}
.AboutStrip p {
    color: #363f55;
    text-align: left;
}
