.AboutStrip {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background: var(--light-clinic-blue);
    padding: 64px 0 98px 0;
}

.AboutStrip .button-wrapper {
    display: flex;
}

.AboutStrip .button-wrapper a {
    margin-right: 16px;
}

@media only screen and (max-width: 515px) {
    .AboutStrip .button-wrapper {
        flex-direction: column;
    }
}