.Partners {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
    margin: 32px 0;
    box-sizing: border-box;
    position: relative;
    background: white;
    box-shadow: var(--standard-shadow);
}
.Partners img {
    width: auto;
    padding: 16px;
    height: 50px;
    width: auto;
    border-radius: 10px;
    margin: 8px 0;
}

@media only screen and (max-width: 975px) {
    .Partners .partner-wave-one {
        bottom: 0;
    }
}
@media only screen and (max-width: 800px) {
    .Partners img {
        height: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .Partners {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .Partners img {
        margin: 8px 8px 8px 0;
    }
}