.CareersPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light-clinic-blue);
    overflow-x: hidden;
}
.CareersPage .two-column {
    margin: 16px 0;
}
.CareersPage .chart-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.picture-grid {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-clinic-blue);
}
.benefits {
    background: var(--light-clinic-blue);
}
.benefits-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
}
.benefits-wrapper .benefits-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 320px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 8px 0;
    color: var(--heading-color);
    padding: 8px;
    transition: 0.25s ease all;
}

.benefits-wrapper .benefits-card:hover .icon{
    transform: translatey(-8px);
}
.benefits-wrapper .benefits-card:hover p{
    transform: translatey(8px);
}
.benefits-wrapper .benefits-card img{
    transition: 0.4s ease all;
}
.benefits-wrapper .benefits-card ul {
    box-sizing: border-box;
    transition: 0.4s ease all;
    padding-left: 20px;
    margin: 0;
    width: 100%;
}
.benefits-wrapper .benefits-card h6{
    width: auto;
    color: var(--heading-color);
    border-left: 2px solid var(--primary-accent);
    padding: 0 0 0 16px;
    margin: 8px 0 0 0;
}
.benefits-wrapper .benefits-card p{
    width: auto;
    color: var(--heading-color);
    transition: 0.4s ease all;
}


@media only screen and (max-width: 1000px) {
    .benefits-wrapper {
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
    }
    .CareersPage .chart-wrapper {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 850px) {
    .demographics {
        justify-content: flex-start;
    }
}
@media only screen and (max-width: 768px) {
    .demographics {
        padding: 64px 16px;
    }
}
@media only screen and (max-width: 600px) {
    .benefits-wrapper {
        flex-direction: column;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }
    .benefits-wrapper .benefits-card {
        width: 100%;
        box-sizing: border-box;
        min-height: 0;
        min-width: 0;
        padding: 16px 0 16px 0;
    }
}
