
.ServicesPage .intro h5 {
    max-width: 650px;
}
.ServicesPage .intro .ButtonPrimaryAlt {
    margin-top: 16px;
}
.ServicesPage .bereavement {
    min-height: 400px;
}
.ServicesPage .TestimonialsStrip {
    background: var(--light-clinic-blue);
}

@media only screen and (max-width: 975px) {
    .Services .content-wrapper h2 {
        text-align: left;
    }
}