.AllPosts {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    transition: 0.4s ease all;
    background: white;
}
.AllPosts h2 {
    color: var(--heading-color);
}
.AllPosts .grid-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    transition: 0.4s ease all;
}
.AllPosts .grid {
    width: 80%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    transition: 0.4s ease all;
    margin: 0 0 32px 0;
}
.AllPosts .grid-wrapper .grid a {
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    margin: 8px;
    width: 45%;
    height: 250px;
}

@media only screen and (max-width: 1300px) {
    .AllPosts .grid {
        width: 95%;
    }
}
@media only screen and (max-width: 800px) {
    .AllPosts {
        padding: 16px;
    }
    .AllPosts .grid {
        width: 100%;
        margin: 0 0 16px 0;
    }
}
@media only screen and (max-width: 600px) {
    .AllPosts {
        padding: 16px;
    }
    .AllPosts .grid {
        width: 100%;
    }
    .AllPosts .grid-wrapper .grid a {
        width: 100%;
        height: 200px;
    }
}