.OldestPosts {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    transition: 0.4s ease all;
    background: var(--light-clinic-blue);
}
.OldestPosts h2 {
    color: var(--heading-color);
}
.OldestPosts .grid-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    transition: 0.4s ease all;
}
.OldestPosts .grid {
    width: 80%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    transition: 0.4s ease all;
    margin: 0 0 32px 0;
}
.OldestPosts .grid-wrapper .grid a {
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    margin: 8px;
    width: 45%;
    height: 250px;
}
.OldestPosts .btn-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.OldestPosts .btn-container .ShowMoreButton,
.OldestPosts .btn-container .ButtonPrimaryAlt,
.OldestPosts .btn-container .ButtonSecondary
{
    margin: 0 8px;
}
@media only screen and (max-width: 1300px) {
    .OldestPosts .grid {
        width: 95%;
    }
}
@media only screen and (max-width: 800px) {
    .OldestPosts {
        padding: 16px;
    }
    .OldestPosts .grid {
        width: 100%;
        margin: 0 0 16px 0;
    }
}
@media only screen and (max-width: 600px) {
    .OldestPosts {
        padding: 16px;
    }
    .OldestPosts .grid {
        width: 100%;
    }
    .OldestPosts .grid-wrapper .grid a {
        width: 100%;
        height: 200px;
    }
}
@media only screen and (max-width: 500px) {
    .OldestPosts .grid-wrapper .btn-container {
        width: 100%;
        flex-direction: column;
    }
    .OldestPosts .grid-wrapper .btn-container .ShowMoreButton,
    .OldestPosts .grid-wrapper .btn-container .ButtonSecondary,
    .OldestPosts .grid-wrapper .btn-container .ButtonPrimaryAlt  {
        margin: 8px 0;
    }
}