/* -- CHAT BOT COMPONENT -- */
.Chatbot {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9;
}
.Chatbot h2 {
    color: white;
}
.Chatbot a:hover {
    opacity: 0.8;
}
/* .Chatbot .notification {
    position: absolute;
    bottom: 0px;
    right: 70px;
    width: 130px;
    height: 25px;
    background: var(--maximum-blue);
    color: white;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    opacity: 1;
    border-radius: 10px;
    transition: 0.3s ease all;
    box-shadow: var(--button-shadow);
}

.Chatbot .hide {
    width: 0px;
    height: 0px;
    opacity: 0;
} */

@media only screen and (max-width: 568px) {
    .Chatbot {
        z-index: 10;
    }
}