.Header {
    height: 85px;
    width: 100vw;
    position: fixed;
    top: 0;
    background: black;
    -webkit-box-shadow: var(--nav-shadow);
    -moz-box-shadow: var(--nav-shadow);
    box-shadow: var(--nav-shadow);
    z-index: 10;
}
.Header .header-boundary {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}
.main-bar {
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.4s ease all;
}
/* ------ BRAND ------ */
.Header a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.Header img {
    height: 70px;
    margin: 0 0 0 32px;
}
.Header .Logo {
    height: 70px;
    width: 200px;
    margin-left: 20px;
}
.Header .btn-primary {
    margin: 0 0 0 0;
    width: auto;
}
.Header .ButtonPrimary img {
    width: 30px;
    height: 30px; 
}


/* ----- NAVBAR ------ */
.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.hamburger {
    width: 50%;
    position: relative;
}
.background-blur {
    background: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
small {
    width: 35px;
    box-sizing: border-box;
    margin: 0 0 0 32px;
    font-weight: lighter;
    color: white;
}

@media only screen and (max-width: 600px) {
    .Header {
        height: 65px;
    }
    .Header .header-boundary {
        height: 65px;
    }
    .Header .Logo {
        height: 45px;
        margin: 0 0 0 0px;
    }
    .Header .ButtonPrimary {
        display: none;
    }
}