.Menu {
    height: 0;
    overflow-y: hidden;
    text-align: center;
    width: 100%;
    transition: 0.4s ease all;
    background: black;
    position: relative;
    top: 0;
    z-index: 10;
}
.expanded {
    height: 100vh;
    transition: 0.4s ease all;
    color: white;
    background: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.Menu ul {
    list-style: none;
    height: 100vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.Menu ul li {
    width: 100%;
    min-height: 75px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 1px rgba(250,250,250,0.1);
    position: relative;
    top: 0;
}
.Menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 75px;
}
.Menu ul li a:hover {
    background: black;
}
.Menu .plus-sign {
    width: 25px;
    height: 25px;
    margin: 16px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 55%;
    z-index: 10;
    transition: 0.4s ease all;
}
.Menu .plus-sign:hover {
    cursor: pointer;
}
.Menu .spin-clicker {
    transform: rotate(-225deg);
}
@media only screen and (max-width: 768px) {
    .Menu .plus-sign {
        left: 60%;
        width: 23px;
        height: 23px;
    }
}