
.SubMenu {
    height: 0;
    overflow-y: hidden;
    text-align: center;
    width: 100%;
    transition: 0.4s ease all;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.sub-expanded {
    transition: 0.4s ease all;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.SubMenu ul {
    list-style: none;
    height: 100vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.SubMenu ul li {
    width: 100%;
    height: 75px;
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SubMenu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.SubMenu ul li a:hover {
    background: black;
}