/* -------------- GLOBAL STYLES ---------------- */
:root {
  --primary-accent: #f05f7e;
  --pink-sherbet: #F493AA;
  --light-accent: #f2d1c9;
  --heading-color: #363f55;
  --clinic-blue: #CED3DC;
  --light-clinic-blue: #F6F7FB;
  --maximum-blue: #0FBDBD;
  --scrubs-blue: #546182;
  --rose: linear-gradient(180deg, #F493AA 0%, #F05F7E 100%);
  --sunset: linear-gradient(37.36deg, #FFCE94 3.73%, #F05F7E 100%);
  --mist: linear-gradient(90deg, #F493AA 0%, #F2D1C9 100%);
  --ocean: linear-gradient(270deg, #0FBDBD -7.32%, #363F55 100%);
  --hero-gradient-white: linear-gradient(90deg, #FFFFFF 42.19%, #F493AA 61.98%);
  --hero-gradient-light: linear-gradient(90deg, #F6F7FB 42.19%, #F493AA 61.98%);
  --hero-gradient-dark: linear-gradient(90deg, #363F55 42.19%, #F493AA 61.98%);
  --standard-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
  --button-shadow: 0px 5px 12px rgba(0, 0, 0, 0.22);
  --nav-shadow: 0px 7px 15px 0px rgba(0,0,0,0.2);
  --inset-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
  --wave-shadow-top: 0px -5px 15px rgba(0, 0, 0, 0.75);
  --wave-shadow-bottom: 0px 5px 15px rgba(0, 0, 0, 0.75);
}
html {
  width: 100vw;
  height: initial;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold 700;
}
h2, h3 {
  color: black;
  width: 100%;
}
h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  text-align: left;
  width: 100%;
}
h1 {
  color: var(--primary-accent);
  font-size: 2.3em;
  font-weight: 700;
  padding: 16px 0;
  margin: 0 0;
}
h2 {
  font-size: 1.75em;
  padding: 16px 0;
  margin: 0 0;
}
h3 {
  font-size: 1.5em;
  padding: 16px 0;
  margin: 0 0;
}
h4 {
  font-size: 1.25em;
  padding: 8px 0;
  margin: 0 0;
}
h5 {
  font-size: 1em;
  padding: 8px 0;
  margin: 0 0;
}
p {
  font-size: 1em;
  width: 100%;
  padding: 8px 0;
  margin: 0 0;
}
a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-accent);
  cursor: pointer;
}
.introduction-text {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
.quote-text {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
/* give each body component this class if you want it content-width */
.content-width {
  max-width: 1440px;
}
.content-width-small {
  max-width: 720px;
}
.spacer {
  height: 75px;
}


.intro {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 32px 32px 64px 32px;
  position: relative;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--heading-color);
}
.intro h2 {
  text-align: left;
  width: auto;
  color: var(--primary-accent);
}
.intro p {
  max-width: 650px;
}


@media only screen and (max-width: 768px) {
  .introduction-text {
    font-size: 16px;
  }
  .intro {
    padding: 32px 16px;
    align-items: flex-start;
  }
  .intro h2 {
    text-align: left;
  }
  .intro p {
    text-align: left;
  }
}
@media only screen and (max-width: 600px) {
  .spacer {
    height: 60px;
  }
}