/* -------------- GLOBAL STYLES ---------------- */
:root {
  --primary-accent: #f05f7e;
  --pink-sherbet: #F493AA;
  --light-accent: #f2d1c9;
  --heading-color: #363f55;
  --light-clinic-blue: #F6F7FB;
}
html {
  width: 100vw;
  height: initial;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
}
h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold 700;
}
h2, h3 {
  color: black;
  width: 100%;
}
h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  text-align: left;
  width: 100%;
}
h1 {
  color: var(--primary-accent);
  font-size: 2.3em;
  font-weight: 700;
  padding: 16px 0;
  margin: 0 0;
}
h2 {
  font-size: 1.75em;
  padding: 16px 0;
  margin: 0 0;
}
h3 {
  font-size: 1.5em;
  padding: 16px 0;
  margin: 0 0;
}
h4 {
  font-size: 1.25em;
  padding: 8px 0;
  margin: 0 0;
}
h5 {
  font-size: 1em;
  padding: 8px 0;
  margin: 0 0;
}
p {
  font-size: 1em;
  width: 100%;
  padding: 8px 0;
  margin: 0 0;
}
a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-accent);
  cursor: pointer;
}
.introduction-text {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
.quote-text {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
/* give each body component this class if you want it content-width */
.content-width {
  max-width: 1440px;
}
.content-width-small {
  max-width: 720px;
}
.spacer {
  height: 75px;
}

@media only screen and (max-width: 600px) {
  .spacer {
    height: 60px;
  }
}