.VideoStrip2 {
    width: 100%;
    height: auto;
    background: var(--light-clinic-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 0 16px;
    box-sizing: border-box;
}

.VideoStrip2 .video-wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: var(--standard-shadow);
    padding: 32px 0;
    transition: 0.4s ease all;
}
.VideoStrip2 .active-wrapper {
    background: var(--heading-color);
    width: 100%;
}
.VideoStrip2 .title h4.active-heading {
    color: white;
}

.VideoStrip2 .title {
    margin: 16px 0;
}
.VideoStrip2 .title h4 {
    text-align: center;
    color: var(--heading-color);
    font-size: 2rem;
    padding: 4px 0;
    transition: 0.4s ease all;
}
.VideoStrip2 .title h4:nth-of-type(2) {
    color: var(--primary-accent);
}
.VideoStrip2 .play-btn-wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 16px;
    text-align: center;
    position: relative;
    top: 0;
    z-index: 5;
    outline: none;
    border: none;
}
.VideoStrip2 .play-btn-wrapper .ButtonPrimary {
    min-height: 45px;
}
.VideoStrip2 .hide {
    color: white;
    width: 300px;
    text-align: center;
    height: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    transition: 0.4s ease all;
    overflow: hidden;
    opacity: 0;
}
.VideoStrip2 .active {
    height: 360px;
}
.VideoStrip2 iframe {
    max-width: 800px;
    height: 0;
    transition: 0.4s ease all;
    border-radius: 10px;
    position: relative;
    z-index: 5;
}
.VideoStrip2 .headline {
    color: var(--heading-color);
    width: 300px;
    text-align: center;
    height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    transition: 0.4s ease all;
    opacity: 1;
    margin: 0 0 32px 0;
}
@media only screen and (max-width: 1200px) {
    .VideoStrip2 .video-wrapper {
        width: 100%;
    }

}

@media only screen and (max-width: 1000px) {
    .VideoStrip2 .active {
        height: 300px;
        width: 540px;
    }
}
@media only screen and (max-width: 650px) {
    .VideoStrip2 {
        height: 500px;
    }
    /* .VideoStrip .video-wave-one, .VideoStrip .video-wave-two{
        opacity: 0.8;
    } */

    .VideoStrip2 iframe {
        max-width: 400px;
    }
    .VideoStrip2 .active {
        height: 230px;
        width: 400px;
    }
}
@media only screen and (max-width: 475px) {
    .VideoStrip2 iframe {
        max-width: 300px;
    }
    .VideoStrip2 .active {
        height: 175px;
        width: 300px;
    }
}
@media only screen and (max-width: 350px) {
    .VideoStrip2 .active {
        height: 140px;
        width: 250px;
    }
    .VideoStrip2 .headline {
        width: 100%;
        height: auto;
    }
}