.Footer {
    width: 100%;
    height: auto;
    padding: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--heading-color);
}
.Footer hr {
    width: 70%;
    border: 1px solid var(--heading-color);
}
.Footer .content-wrapper {
    display: flex;
    width: 1200px;
    height: 600px;
}
.Footer .left {
    width: 60%;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.Footer .right {
    width: 40%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.Footer .right div {
    width: 100%;
}
.Footer .right .helpful-links {
    margin: 8px 0 16px 0;
}
.Footer .right .headquarters {
    margin: 16px 0 16px 0;
}
.Footer .right .headquarters a{
    color: white;
    font-weight: normal;
}
.Footer .right .headquarters a:hover {
    color: var(--primary-accent);
}
.Footer .right .socials {
    margin: 16px 0 16px 0;
}
.Footer .right h6 {
    color: var(--primary-accent);
}
.Footer .right li {
    color: white;
}
.Footer .right div ul {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.Footer .socials ul {
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.Footer .socials ul li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Footer .helpful-links ul li a {
    color: white;
    font-weight: normal;
    transition: 0.2s ease all;
}
.Footer .helpful-links ul li a:hover {
    color: var(--primary-accent);
}

.Footer .bottom {
    width: 100%;
    height: 60px;
    background: var(--scrubs-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--wave-shadow-top);
}
.Footer .bottom p {
    text-align: center;
    width: 50%;
    color: white;
}
.Footer .socials a img {
    width: 50px;
    height: 50px;
}
@media only screen and (max-width: 1200px) {
    .Footer .content-wrapper {
        width: 100%;
    }
}
@media only screen and (max-width: 950px) {
    .Footer .left{
        width: 70%;
    }
    .Footer .right {
        width: 30%;
    }
}
@media only screen and (max-width: 800px) {
    .Footer .content-wrapper {
        height: auto;
    }
}
@media only screen and (max-width: 665px) {
    .Footer {
        box-sizing: border-box;
        padding: 0 16px;
    }
    .Footer .content-wrapper {
        flex-direction: column;
    }
    .Footer .left {
        width: 100%;
        padding: 0 0 0 0;
        margin: 16px 0 16px 0;
    }
    .Footer .right {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 0 0 0;
        margin: 32px 0 32px 0;
    }
    .Footer .right .helpful-links, .Footer .right .headquarters, .Footer .right .socials {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 8px 0 8px 0;
        padding: 4px;
        width: 100%;
    }
    .Footer .bottom p {
        font-size: 0.8rem;
    }
} 

