.MosaicCard {
    width: auto;
    height: auto;
    padding: 32px;
    margin: 8px 0;
    background: white;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.25s ease all;
    color: var(--scrubs-blue);
}
.MosaicCard:hover {
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-4px);
}
.MosaicCard:hover p {
    color: var(--primary-accent);
}
.MosaicCard:hover .icon {
    animation: heartbeat 1s infinite linear;
}
.MosaicCard .icon {
    width: 26px;
}

@keyframes heartbeat {
    0% {
        width: 26px;
    }
    10% {
        width: 34px;
    }
    15% {
        width: 28px;
    }
    30% {
        width: 32px;
    }
    50% {
        width: 26px;
    }
    100% {
        width: 26px;
    }
}
@media only screen and (max-width: 450px) {
    .MosaicCard {
        margin: 16px 0 0 0;
    }
}