.Quotes {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s ease all;
    position: relative;
    top: 0;
    box-sizing: border-box;
    color: var(--heading-color);
}
.Quotes .quote-text {
    background: var(--super-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
}
.Quotes .active {
    position: absolute;
    top: 25%;
    opacity: 1;
    transition: 0.4s ease all;
}
.Quotes .inactive {
    position: absolute;
    top: -100%;
    opacity: 0;
    transition: 0.4s ease all;
}
.Quotes .icon {
    width: 20px;
    animation: heartbeat 1.1s infinite linear;
}

@keyframes heartbeat {
    0% {
        width: 20px;
    }
    10% {
        width: 34px;
    }
    15% {
        width: 28px;
    }
    30% {
        width: 32px;
    }
    50% {
        width: 20px;
    }
    100% {
        width: 20px;
    }
}
