.TestimonialsStrip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
    height: auto;
    position: relative;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    color: var(--heading-color);
    background: white;
}
.TestimonialsStrip h2 {
    width: auto;
    color: #f05f7e;
}
.TestimonialsStrip .left {
    box-sizing: border-box;
    width: 650px;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}

.TestimonialsStrip .right {
    box-sizing: border-box;
    width: 650px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.TestimonialsStrip .right .quote-container {
    border-radius: 10px;
    background: #F6F7FB;
    box-sizing: border-box;
    padding: 32px;
    width: 500px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    position: relative;
    top:0;
    z-index: 1;
}
.TestimonialsStrip .quote-wave-one {
    position: absolute;
    bottom: -20px;
    width: 100vw;
    height: auto;
    z-index: -1;
}
.TestimonialsStrip .carousel-control {
    margin: 8px;
}
.TestimonialsStrip .carousel-control img {
    width: auto;
    height: 20px;
    transform: rotate(90deg) translateY(-10px) translateX(2px);
    transition: 0.3s ease all;
}
.TestimonialsStrip .carousel-control img:hover {
    transform: rotate(90deg) translateY(-10px) translateX(2px) scale(1.5);
    cursor: pointer;
}





@media only screen and (max-width: 1200px) {
    .TestimonialsStrip .right {
        width: 550px;
    }
}
@media only screen and (max-width: 1100px) {
    .TestimonialsStrip .right .quote-container {
        width: 400px;
        height: 350px;
    }
}
@media only screen and (max-width: 975px) {
    .TestimonialsStrip {
        flex-direction: column-reverse;
    }
    .TestimonialsStrip .right {
        flex-direction: column;
    }
    .TestimonialsStrip .right {
        align-items: center;
        width: 650px;
    }
    .TestimonialsStrip .left {
        width: 650px;
        padding: 0 32px 0 32px;
    }
    .TestimonialsStrip .right .quote-container {
        width: 100%;
    }
    .TestimonialsStrip .carousel-control {
        display: flex;
        margin: 8px 8px 8px 0;
    }
    .TestimonialsStrip .carousel-control .Dot {
        width: 22px;
        height: 22px;
    }
    .TestimonialsStrip .carousel-control img {
        transform: rotate(0deg) translateY(9px) translateX(0px);
        margin: 0 8px 0 8px;
    }
    .TestimonialsStrip .carousel-control img:hover {
        transform: rotate(0deg) translateY(9px) translateX(0px) scale(1.5);
        margin: 0 8px 0 8px;
    }
    .TestimonialsStrip .quote-wave-one {
        width: 100vw;
        height: auto;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}
@media only screen and (max-width: 660px) {
    .TestimonialsStrip {
        padding: 16px 16px 64px 16px;
    }
    .TestimonialsStrip .right {
        width: 100%;    
        padding: 16px;
    }
    .TestimonialsStrip .left {
        width: 100%;
        padding: 16px 0;
    }
    .TestimonialsStrip .quote-wave-one {
        bottom: 5px;
    }
}
@media only screen and (max-width: 450px) {
    .TestimonialsStrip .right {
        width: 100%;    
        padding: 0 0 0 0;
    }
}