.TestimonialsStrip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    height: auto;
    position: relative;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    color: var(--heading-color);
    background: var(--light-clinic-blue);
    width: 100%;
}

.TestimonialsStrip .right .quote-container {
    border-radius: 10px;
    background: white;
    box-sizing: border-box;
    padding: 32px;
    width: 500px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    position: relative;
    top:0;
    z-index: 1;
}
.TestimonialsStrip .carousel-control {
    margin: 8px;
}
.TestimonialsStrip .carousel-control img {
    width: auto;
    height: 20px;
    transform: rotate(90deg) translateY(-10px) translateX(2px);
    transition: 0.3s ease all;
}
.TestimonialsStrip .carousel-control img:hover {
    transform: rotate(90deg) translateY(-10px) translateX(2px) scale(1.5);
    cursor: pointer;
}


@media only screen and (max-width: 1200px) {
    .TestimonialsStrip {
        padding: 64px 0;
    }
    .TestimonialsStrip .right .quote-container {
        width: 400px;
        height: 350px;
    }
}
@media only screen and (max-width: 1000px) {
    .TestimonialsStrip {
        flex-direction: column-reverse;
        padding: 64px 0;
    }
    .TestimonialsStrip .right .quote-container {
        width: 100%;
    }
}
@media only screen and (max-width: 850px) {
    .TestimonialsStrip .right {
        flex-direction: column-reverse;
    }
    .TestimonialsStrip img {
        width: 55px;
    }
    .TestimonialsStrip .carousel-control {
        display: flex;
        margin: 8px 8px 8px 0;
    }
    .TestimonialsStrip .carousel-control .Dot {
        width: 22px;
        height: 22px;
    }
    .TestimonialsStrip .carousel-control img {
        transform: rotate(0deg) translateY(9px) translateX(0px);
        margin: 0 8px 0 8px;
    }
    .TestimonialsStrip .carousel-control img:hover {
        transform: rotate(0deg) translateY(9px) translateX(0px) scale(1.5);
        margin: 0 8px 0 8px;
    }
}