.Card {
    box-sizing: border-box;
    padding: 8px;
    transform: 0.4s ease all;
    width: 100%;
    margin: 8px 0;
    border-radius: 10px;
}
.Card .card-title {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Card:hover .Clicker {
    transform: scale(1.5);
}
.Card:hover {
    box-shadow: var(--standard-shadow);
    background: var(--light-clinic-blue);
}
