.Filter {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}
.Filter li {
    width: auto;
    margin: 8px;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    font-weight: bold;
}
.Filter li:hover {
    background: var(--primary-accent);
    color: white;
}
.Filter li.active {
    background: var(--primary-accent);
    color: white;
    border: none;
    outline: none;
}
.Filter button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 100%;
    height:100%;
    cursor: pointer;
    padding: 8px 16px;
}
.Filter button:focus {
    outline: none;
}