.LocationsStrip {
    box-sizing: border-box;
    height: auto;
    width: 100vw;
    position: relative;
    top: 0;
    z-index: 0;
    background: var(--heading-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 16px 32px 16px;
    overflow: hidden;
}
.LocationsStrip .left {
    width: 575px;
    box-sizing: border-box;
    min-height: 625px;
    border-radius: 10px;
    background: white;
    padding: 16px 32px;
    position: relative;
    top: 0;
    z-index: 4;
    margin: 16px;
    box-shadow: var(--standard-shadow);
    color: #363f55;
}
.LocationsStrip .left h2 {
    padding: 0 0 0 0;
    color: #363f55;
}
.LocationsStrip .left h5 {
    padding: 8px 0 4px 0;
}
.LocationsStrip .left .icon{
    margin: 0 0 0 0;
    padding: 16px 0 0 0;
}
.LocationsStrip .right {
    width: 575px;
    height: 625px;
    border-radius: 10px;
    background: white;
    position: relative;
    top: 0;
    z-index: 4;
    margin: 16px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}
.locations-wave-one {
    position: absolute;
    top: -15px;
    z-index: -2;
    width: 100%;
    height: auto;
}
.locations-wave-mobile {
    display: none;
}

@media only screen and (max-width: 950px) {
    .LocationsStrip {
        flex-direction: column;
        align-items: center;
    }
    .LocationsStrip .card-container {
        display: flex;
        flex-wrap: wrap;
    }
    .LocationsStrip .left {
        min-height: 300px;
        height: auto;
        padding: 16px 32px 32px 32px;
        margin: 32px 0 16px 0;
        width: 650px;
    }
    .LocationsStrip .right {
        height: 300px;
        width: 650px;
    }
    .LocationsStrip .left .card {
        width: 45%;
        margin: 8px;
    }
}
@media only screen and (max-width: 660px) {
    .LocationsStrip {
        flex-direction: column;
    }
    .LocationsStrip .left {
        width: 100%;
        height: auto;
        padding: 16px 32px 32px 32px;
    }
    .LocationsStrip .right {
        width: 100%;
        height: 300px;
    }
    .LocationsStrip .card-container {
        display: block;
    }
    .LocationsStrip .left .card {
        width: 95%;
        margin: 8px 0;
    }
    .locations-wave-one {
        display: none;
    }
    .locations-wave-mobile {
        display: block;
        position: absolute;
        top: -10px;
        z-index: -2;
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 450px) {
    .LocationsStrip .left {
        box-sizing: border-box;
        padding: 16px;
        margin: 0 0 8px 0;
    }
    .LocationsStrip .right {
        box-sizing: border-box;
        padding: 0 0 0 0;
        overflow: hidden;
    }
}