.location-page {
    background: var(--light-clinic-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location-page .two-column .about-image {
     width: 100%;
     border-radius: 10px;
     box-shadow: var(--standard-shadow);
     margin: 16px 0 0 0;
}
.location-page .two-column img {
    width: 100%;
}
.location-page .business-info {
    padding: 0 16px 64px 16px;
    position: relative;
    top: 0;
    z-index: 5;
}
.location-page .news {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 16px 98px 16px;
    background: var(--light-clinic-blue);
}
.location-page .news .PostStrip {
    z-index: 1;
    margin: 0;
}
.location-page .two-column .ButtonPrimaryAlt{
    margin: 0;
}

.location-page {
    width: 100%;
    background: var(--light-clinic-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location-page .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
}
.location-page .card-wrapper .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 320px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0;
    color: var(--heading-color);
    padding: 8px;
    transition: 0.25s ease all;
}

.location-page .card-wrapper .card h6 {
    width: auto;
    color: var(--heading-color);
    border-left: 2px solid var(--primary-accent);
    padding: 0 0 0 16px;
    margin: 8px 0 0 0;
}
.location-page .card-wrapper .card p {
    width: auto;
    color: var(--heading-color);
}

