.AdvantageCard {
    width: 320px;
    height: 275px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 32px;
    margin: 8px;
    background: white;
    position: relative;
    top: 0;
    z-index: 2;
    color: var(--heading-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: var(--standard-shadow);
}
.AdvantageCard:hover .icon {
    transform: translatey(-8px) scale(1.1);
}
.AdvantageCard .icon {
    position: absolute;
    top: -25px;
    transition: 0.4s ease all;
    width: 55px;
    height:auto;
}
.AdvantageCard h4 {
    margin: 8px 0;
    text-align: center;
    width: auto;
}