.AdvantageCard {
    width: 250px;
    height: 275px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 16px;
    position: relative;
    top: 0;
    z-index: 2;
    color: var(--heading-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.AdvantageCard p {
    transition: 0.4s ease all;
}
.AdvantageCard:hover .icon {
    transform: translatey(-8px);
}
.AdvantageCard:hover p {
    transform: translatey(8px);
}
.AdvantageCard .icon {
    transition: 0.4s ease all;
    height: 45px;
}
.AdvantageCard h6 {
    text-align: center;
    width: auto;
    border-left: 2px solid var(--primary-accent);
}

@media only screen and (max-width: 1200px) {
    .AdvantageCard {
        width: 320px;
    }
}