.Advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 32px;
    height: auto;
    background: var(--light-clinic-blue);
}
.Advantages h2 {
    width: auto;
    padding: 0 0 64px 0;
    color: var(--primary-accent);
}
.Advantages .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 0;
    z-index: 1;
    width: 1200px;
}

@media only screen and (max-width: 1200px) {
    .Advantages .card-wrapper {
        width: 100%;
    }
}