.HomeServices {
    display: flex;
    justify-content: center;
    min-height: 600px;
    width: 100%;
    box-sizing: border-box;
    color: var(--heading-color);
}
.HomeServices .intro {
    background: var(--light-clinic-blue);
    position: relative;
    color: var(--heading-color);
    position: relative;
}
.HomeServices img {
    border-radius: 10px;
    width: 650px;
    box-shadow: var(--standard-shadow);
    margin: 16px 0;
}
.HomeServices ul {
    width: 50%;
    height: auto;
    margin: 4px;
    padding: 0 0 0 0;
    list-style: none;
}
.HomeServices .full-list {
    display: none;
}
.HomeServices ul li {
    padding: 8px 16px;
    margin: 8px 0;
    box-shadow: var(--standard-shadow);
    border-radius: 10px;
    background: var(--heading-color);
    color: white;
    width: auto;
    font-weight: bold;
}
.HomeServices h2 {
    color: var(--primary-accent);
    width: auto;
}
.HomeServices .lists {
    display: flex;
    justify-content: center;
    width: 650px;
}

@media only screen and (max-width: 900px) {
    .HomeServices {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 700px) {
    .HomeServices .lists {
        width: 100%;
    }
    .HomeServices img {
        width: 100%;
    }
}
@media only screen and (max-width: 450px) {
    .HomeServices .lists {
        flex-direction: column;
        width: 100%
    }
    .HomeServices .lists ul {
        margin: 0 0 0 0;
        width: 100%
    }
    .HomeServices .lists ul:nth-of-type(2) {
        display: none;
    }
    .HomeServices .lists ul .full-list {
        display: block;
    }
}
@media only screen and (max-width: 400px) {
    .HomeServices .lists {
        flex-direction: column;
    }
    .HomeServices .lists li {
        margin: 8px 0;
    }
}