.CategoryNav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CategoryNav h4 {
    width: auto;
    margin: 0 8px;
}
.CategoryNav .category-link {
    padding: 16px;
    background: var(--light-clinic-blue);
    color: var(--heading-color);
    border-left: 4px solid white;
}
.CategoryNav .category-link:hover {
    padding: 16px;
    background: var(--super-gradient);
    color: white;
}

@media only screen and (max-width: 475px) {
    .CategoryNav {
        flex-wrap: wrap;
    }
    .CategoryNav .category-link {
        margin: 4px;
    }
}