.NewsStrip {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 32px 32px 64px 32px;
    background: var(--light-clinic-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    z-index: 1;
}
.NewsStrip h2 {
    width: auto;
}
.NewsStrip .card-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NewsStrip .ButtonPrimaryAlt {
    position: relative;
    top: 0;
    z-index: 3;
}


@media only screen and (max-width: 1425px) {
    .NewsStrip .card-container .NewsCard:nth-of-type(4) {
        display: none;
    }
    .NewsStrip .card-container .NewsCard {
        width: 30%;
    }
}
@media only screen and (max-width: 1200px) {
    .NewsStrip .card-container {
        flex-wrap: wrap;
    }
    .NewsStrip .card-container .NewsCard:nth-of-type(4) {
        display: block;
    }
    .NewsStrip .card-container .NewsCard {
        width: 325px;
    }
}
@media only screen and (max-width: 920px) {
    .NewsStrip .card-container {
        flex-wrap: wrap;
        width: 100%;
    }
}
@media only screen and (max-width: 745px) {
    .NewsStrip .card-container .NewsCard:nth-of-type(4) {
        display: none;
    }
    .NewsStrip .card-container .NewsCard {
        width: 100%;
    }
}
@media only screen and (max-width: 440px) {
    .NewsStrip { 
        padding: 16px;
    }
    .NewsStrip .card-container .NewsCard {
        width: 100%;
        margin: 8px 0 8px 0;
    }
}
