.PostStrip {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 75%;
    min-height: 200px;
    margin: 32px 0 32px 0;
    z-index: 1;
}
.PostStrip hr {
    width: 100%;
    margin: 0 0 16px 0;
    border: 1px solid #f0f0f0;
}
.PostStrip .grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.PostStrip .grid-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.PostStrip .grid-header a {
    padding: 12px 0 20px 0;
    min-width: 180px;
    height: auto;
    text-align: right;
    text-decoration: underline;
}
.PostStrip .grid a {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    width: 500px;
    height: 300px;
}
.PostStrip .grid a:nth-of-type(2) {
    margin: 0 16px;
}

@media only screen and (max-width: 1400px) {
    .PostStrip .grid a:nth-of-type(3) {
        display: none; 
    }
    .PostStrip .grid a:nth-of-type(2) {
        margin: 0 0 0 0;
    }
    .PostStrip .grid a:nth-of-type(1) {
        margin: 0 16px 0 0;
    }
}
@media only screen and (max-width: 1150px) {
    .PostStrip {
        width: 90%;
    }
    .PostStrip .grid a {
        height: 200px;
    }
}
@media only screen and (max-width: 950px) {
    .PostStrip {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .PostStrip {
        width: 100%;
    }
    .PostStrip .grid {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .PostStrip .grid a:nth-of-type(1) {
        margin: 0 0 16px 0;
    }
    .PostStrip .grid a {
        width: 100%;
    }
    .PostStrip a .PostLink .content {
        bottom: 5%;
    }
}
@media only screen and (max-width: 400px) {
    .PostStrip .grid-header a {
        font-size: 0.8rem;
        width: 150px;
        text-align: left;
        padding: 0 0 16px 0;
    }
    .PostStrip .grid-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .PostStrip .grid-header h2 {
        padding: 16px 0 4px 0;
    }
}


